{% extends 'payments/base.html' %}

{% block content %}
<div class="signup-container">
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <h2>User Settings</h2>

        <!-- Display messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div> <br>
            {% endfor %}
        {% endif %}

        <!-- Form -->
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="company_name" class="form-label">Company Name</label>
                {{ form.company_name }}
                {% if form.company_name.errors %}
                    <div class="text-danger">{{ form.company_name.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="wallet_address" class="form-label">Wallet Address</label>
                {{ form.wallet_address }}
                {% if form.wallet_address.errors %}
                    <div class="text-danger">{{ form.wallet_address.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
</div>
{% endblock %}
