{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LedgerPay</title>
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
</head>
<body>
    <header>
        <h1>LedgerPay</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/admin">Admin Page</a></li>
            <li><a href="/">login</a></li>
            <li><a href="/signup">signup</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Page content will go here -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 LedgerPay. All rights reserved.</p>
    </footer>
</body>
</html>
